# Dependencies
node_modules
.pnpm-store

# Build output
.next
dist
build
out
*.tsbuildinfo

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDE
.idea
.vscode
*.swp
*.swo
*~
.DS_Store

# Testing
coverage
.nyc_output

# Production
*.log
vercel.json
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
*.pem
todo.md
todo.txt
plans